---
layout: main
title: Reviews
permalink: /news/
---
<div class="container">
    {% for category in site.categories %}
        {%if category[0] == "news"  %}
            {% for post in category[1] %}
                <div class="news-wapper">
                    <div class="heading-content">
                        <span class="date">
                            <span class="month"> {{ post.date | date: '%b'  }} </span>
                            <span class="day"> {{ post.date | date: '%d'  }} </span>
                        </span>
                        <h3> <a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }} </a> </h3>
                    </div>
                    <div class="news-content">
                        <div class="news-image-wrapper">
                            <a href="{{ site.baseurl }}{{ post.url }}"> <img src="{{ post.imageurl }}" alt="news-img"> </a>
                        </div>
                        <p>{{ post.excerptText }} <span>more...</span>  </p>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
