<nav class="site-nav">
    <div class="site-logo">
        <h4> <i class="fa fa-compact-disc"></i> <a href="{{ site.baseurl }}/">Music Authority</a></h4>
    </div>
    <div class="site-menu">
    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger"/>
        <ul class="menu-items">
            <li> <i class="fa fa-newspaper" aria-hidden="true"></i> <a href="{{ site.baseurl }}/news/">News</a> </li>
            <li> <i class="fa fa-star-half-alt" aria-hidden="true"></i> <a href="{{ site.baseurl }}/reviews/">Reviews</a> </li>
            <li> <i class="fa fa-calendar-check" aria-hidden="true"></i> <a href="{{ site.baseurl }}/calendar/">Upcoming Concerts</a></li>
        </ul>
    </div>
</nav>