footer {
    // display: flex;
    // justify-content: space-between;
    color: #fff;
    background-color: #042022;
    text-align: center;
    padding: 1em;

    .site-footer-icons > a {
        color: #fff;
        padding: 0 0.5em;
    }
}

