// $homepage-color: #FF7D00;
$homepage-color: #EAC67A;
$nav-color: #1E392A;
$footer-color: #18121E;
$background-color: #E9EBEE;
$tooltip-color: #aaaaaa;

$container-top-bottom: 1.5em;
$container-width: 80em;
$page-min-height: 80vh;